<h2>Shareholder Index</h2>
<% if (error) { %>
    <h2>Error: <%= JSON.stringify(error) %></h2>}
<% } %>
<% if (shareholdersList) { %>
    <table class="table sidebar">
        <tr>
            <th>
                Name
            </th>
            <th>
                Unit
            </th>
            <th>
                Balance
            </th>
        </tr>
        <% shareholdersList.forEach(shareholder => { %>
            <tr class="shareholderRow" onclick="<%= `window.location.href='/shareholders/${shareholder.id}'` %>">
                <td>
                    <p><%= shareholder.name %></p>
                    <% if (shareholder.name2){ %>
                        <p>& <%= shareholder.name2 %></p>
                    <% } %>
                </td>
                <td>
                    <p><%= shareholder.unit.number %></p>
                </td>
                <td>
                    <%= shareholder.balance %>
                </td>
                <% /* %>
                <td>
                    <% shareholder.dues.forEach(duesAmount => { %>
                        <p>$<%= duesAmount.amount %>, from <%= duesAmount.startMonth %>/<%= duesAmount.startYear %> to 
                            <% if (duesAmount.endMonth) { %>
                                <%= duesAmount.endMonth - 1 %>/<%= duesAmount.endYear %>
                            <% } else { %>
                                present
                            <% } %>
                        </p>
                    <% }) %>
                </td>
                <% */ %>
            </tr>
        <% }) %>
    </table>
<% } %>
<div class='shareholderRow'>blah blah</div>