<div class="container">
    <h2><%= shareholder.name %>, Unit <%= shareholder.unit.number %></h2>
    <h3>Shareholder since <%= shareholder.startDate.getMonth() + 1 %>/<%= shareholder.startDate.getFullYear() %></h3>
    <img src="<%= graphImgSrc %>" alt="graph of running balances">
    <hr>
    <h3>Transaction History</h3>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Check #</th>
            <th>Amount</th>
            <th>Notes</th>
            <th>Running Balance</th>
            <th>Actions</th>
        </tr>
        <% shareholder.transactions.forEach(transaction => { %>
            <tr>
                <td>
                    <%= transaction.date.getMonth() + 1 %>/<%= transaction.date.getDate() %>/<%= transaction.date.getFullYear() %>
                </td>
                <td>
                    <%= transaction.category %>
                </td>
                <td>
                    <%= transaction.checkNumber %>
                </td>
                <td>
                    <%= transaction.amount %>
                </td>
                <td>
                    <%= transaction.notes %>
                </td>
                <td>
                    <%= transaction.runningBalanceString %>
                </td>
                <td>
                    <% if (transaction.category.includes("payment")) { %>
                        <button class="btn btn-secondary" onclick="<%= `window.location.href='/transactions/edit/${transaction.id}'` %>">Edit</button>
                        <form class="delete" method="POST" action="<%= `/transactions/delete/${transaction.id}?_method=DELETE` %>">
                            <input class="btn btn-secondary" type='submit' value="Delete">
                        </form>
                    <% } %>
                </td>
            </tr>
        <% }) %>
    </table>
</div>