<div class="container">
    <h2><%= shareholder.name %></h2>
    <p>
        Unit <%= shareholder.unit.number %>&nbsp&nbsp&nbsp&nbsp|
        &nbsp&nbsp&nbsp&nbspShareholder since <%= shareholder.startDate.getMonth() + 1 %>/<%= shareholder.startDate.getFullYear() %>&nbsp&nbsp&nbsp&nbsp|
        &nbsp&nbsp&nbsp&nbspCurrent dues rate: $<%= shareholder.currentDues %>/month&nbsp&nbsp&nbsp&nbsp|
        &nbsp&nbsp&nbsp&nbspCurrent balance: <%= shareholder.transactions[0].runningBalance %>
    <div class="toggle">
        <% if (years == 2) { %>
            <p>Displaying last 2 years</p>
            <button class="btn btn-secondary" onclick="<%= `window.location.href='/shareholders/${shareholder.id}'` %>">Show full history</button>
        <% } else { %>
            <button class="btn btn-secondary" onclick="<%= `window.location.href='/shareholders/${shareholder.id}?years=2'` %>">Show last 2 years</button>
            <p>Displaying full history </p>
        <% } %>
    </div>
    <img src="<%= graphImgSrc %>" alt="graph of running balances">
    <hr>
    <h3 class="inline">Transaction History</h3>
    <form class="form-inline" method="GET" action="<%= `/shareholders/${shareholder.id}` %>">
        <label for="filter">Find check #:</label>
        <input class="form-control" id="filter" name="filter" type="text">
        <input class="btn btn-secondary" type="submit" value="Search"> 
    </form>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Check #</th>
            <th>Amount</th>
            <th>Notes</th>
            <th>Running Balance</th>
            <% if (shareholder.isAdministrator) { %>
                <th>Actions</th>
            <% } %>
        </tr>
        <% shareholder.transactions.forEach(transaction => { %>
            <tr>
                <td>
                    <%= transaction.date.getMonth() + 1 %>/<%= transaction.date.getDate() %>/<%= transaction.date.getFullYear() %>
                </td>
                <td>
                    <%= transaction.category %>
                </td>
                <td>
                    <%= transaction.checkNumber %>
                </td>
                <% if (transaction.amount.charAt(0) === "-"){ %>
                    <td class="red">
                        <%= transaction.amount %>
                    </td>
                <% } else { %>
                    <td class="blue">
                        <%= transaction.amount %>
                    </td>
                <% } %>
                <td>
                    <%= transaction.notes %>
                </td>
                <% if (transaction.runningBalance.charAt(0) === "-"){ %>
                    <td class="red">
                        <%= transaction.runningBalance %>
                    </td>
                <% } else { %>
                    <td class="blue">
                        <%= transaction.runningBalance %>
                    </td>
                <% } %>
                <% if (transaction.category.includes("payment") && shareholder.isAdministrator) { %>
                    <td>
                        <button class="btn btn-secondary" onclick="<%= `window.location.href='/transactions/${transaction.id}/edit'` %>">Edit</button>
                        <form class="delete" method="POST" action="<%= `/transactions/${transaction.id}?_method=DELETE` %>">
                            <input class="btn btn-secondary" type='submit' value="Delete">
                        </form>
                    </td>
                <% } %>
            </tr>
        <% }) %>
    </table>
</div>